*,
*::before,
*::after {
    box-sizing: border-box;
}

/*custom properties*/

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #303030;
    --clr-dark: #FFF;
    --clr-accent: #ffaa00;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em .75em rgba(0, 0, 0, 0.5),
          0.125em 0.125em .25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 1000px) {
    :root {
      --fs-h1: 4.5rem;
      --fs-h2:3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
    }
}

/*general styles*/
body {
  background: var(--clr-primary);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {font-weight: bold;}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.button {
  font-size: 23px;
  margin: 0 auto;
  background-color:var(--clr-accent);
  padding:20px;
  box-shadow:0 9px #999;
  border-radius:25px
}
.button:hover {
  background-color: #b07500
}
.button:active {
  background-color: #b07500;
  box-shadow: 0 5px #666;
  transform:translateY(4px);
}

.btn {
  display: inline-block;
  margin-top: 1.5em;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;

}

.btn:hover {
  transform: scale(1.1);
}

/*Typography*/
h1,
h2,
h3 {
  line-height: var(--fs-h1);
  margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}


.section__title {

}

.section__title--intro {

}

.section__title--intro strong {

  display: block;
  margin-bottom: .25em;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);

}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  margin-bottom: 1em;
  transform: translateY(-400%);
}





/*header*/

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;

}

.logo {
  max-width: 1500px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav_list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;

}

.nav_link {
  color: inherit;
}

/*intro*/

.intro {
  width: 100%;
  position: relative;
  height: 70vh;
  background-color: var(--clr-light);
}




.intro__img {
  box-shadow: var(--bs);
  max-width:200px;
  background-color: var(--clr-dark);
}

.links__list {
  background-color: var(--clr-light);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.buffer {
  background-color: var(--clr-light);
}

.underphoto {
  height: 10em;
}

.underlinks {
  height: 2em;
}

.nav__item {
  padding: 1em;
  font-size: 20px;
  text-decoration: none;
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  border-bottom: 2px solid grey;
  margin-bottom: 1em;
  margin: 0 auto;


}

.nav__item:visited {
  color: var(--clr-accent);
}

.nav__link {
  text-decoration: none;
  color: var(--clr-accent);
  }



@media (min-width: 1000px) {
    .intro {
      height: 80vh;
      display: grid;
      width: 100%;
      margin: 0 auto;
      grid-column-gap: 1em;
      grid-template-areas:
        "img title"
        "img subtitle";
      grid-template-columns: min-content max-content;
      grid-template-rows: repeat(8, 1fr);
      justify-content: center;

    }



    .intro__img {
      grid-area: img;
      min-width: 300px;
      position: relative;
      z-index: 2;
      grid-row: 4;

    }

    .underphoto {
      height: 0em;
    }


    .section__title--intro {
      grid-row: 4;
      transform: translateY(30%);
      grid-column: 2;
      max-height: 300px;
    }

    .section__subtitle--intro {
      align-self: start;
      grid-column: -1/1;
      grid-row: 5 / -1;
      margin-top: -150px;

      text-align: left;
      text-indent: 16.5em;
      position: absolute;
      transform: translateY(-400%);
      left: -3em;
      width: calc(100% + 5em);

    }



    .links__list {

      display: flex;
      flex-direction: row;
      justify-content: center;
      border-bottom: 2px solid grey;

      margin: 0 auto;

      background-color: var(--clr-light);
      width: 100%;
    }

    .nav__item {
      padding: .5em;
      font-size: 25px;
      text-decoration: none;
      font-family: var(--ff-secondary);
      border-bottom: 0px solid grey;
      margin-bottom: 1em;


    }




}



/*my services*/
.resume-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}
.resume-container iframe {
  border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.my-services {
  background-color: var(--clr-light);
  /*background-image: url(../img/services.jpg)*/
  background-size: cover;
  color: var(--clr-dark);
  text-align: center;

}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
  transform: translate(0%, 20%);
}

.section__title--services::after {

  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto .5em;
  background: var(--clr-light);
  opacity: .25;

}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }

  .service + .service {
    margin-left: 3em;

  }
}

/*about me*/


.about-me {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  background-size: auto;
  max-width: 100%;
  margin: 0 auto;
}


.about__img {
  box-shadow: var(--bs);
}

@media (min-width: 1000px) {
    .about-me {

      display: grid;
      grid-template-columns: 4fr;
      grid-template-rows: 3fr;
      grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
      grid-column-gap: 2em;

    }


    .section__title--about {
      transform: translate(20%, 0%);
      grid-area: title;
    }

    .section__subtitle--about {
      margin-left: 180px;

      transform: translate(19%, 0%);

      width: calc(100% + 2em);
    }



    .about__img {
      grid-area: img;
      transform: translate(-15%, 0%);
      max-width: 200px;
      z-index: 2;
    }

    .about-me__body {

      max-width: 80%;

    }


}

/*my work*/

.section__title-portfolio {
  transform: translate(0, 20%);
}

.my-work {
  text-align: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);


}

.section__subtitle--portfolio {
  color: var(--clr-accent);
  margin-bottom: 2em;
  font-family: var(--ff-secondary);
  transform: translate(0, 20%);
}


.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 5fr));

}

.portfolio__item {
  background: var(--clr-dark);
  overflow: hidden;
  margin: 0 auto;
}



.portfolio__img {
  transition:
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.portfolio__item:hover .portfolio__img{
  transform: scale(1.2);
  opacity: .75;
}

/*.img_description_layer {
 transition: .5s ease;
 opacity: 0;
 position: relative;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 text-align: center;
}*/

.portfolio__item:hover .portfolio__img{
  opacity: .3;
}

.portfolio__item:hover .img_description{
  opacity: 1;
}



.img_description {
  background-color: var(--clr-accent);
  color: black;
  font-size: 20px;
  padding: 0px 0px;
  font-style: normal;
  transform: translate(50%, -400%);
  opacity: 0;
  width: 50%;
  box-shadow: var(--bs);
}

@media (min-width:1500px) {
  .portfolio {
    display:grid;
    grid-template-columns: repeat(4, 350px);
    justify-content: center;
  }
}




/*footer*/



.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 1.5em 0;
}

.footer a { color: inherit;
  text-decoration: none;}

.section__title--footer {
  color: var(--clr-dark);
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
}

  .footer__link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
  }

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.6;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin 1em;
  padding: 0;

}

.social-list__item {
  padding: .5em;
  font-size: var(--fs-h2);
}


/*portfolio items*/

.project-body {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin-top: 0em;
}

.intro {
  position: relative;

}

.links__list-project {
  margin-bottom: 0em;
}


.section__subtitle--intro-project {
  transform: translate(0%, -400%);
}


.portfolio-item-individual {
  /*display: grid;
  grid-template-columns: 200px 200px 200px;*/
  padding: 0 2em 2em;
  max-width: 1000px;


}

.portfolio-item-individual-image {
  box-shadow: var(--bs);
  width:90%;
}

.portfolio-item-individual-image-graph {


    box-shadow: var(--bs)
}

.portfolio-item-individual-image-river {
  max-width:300px;
  grid-column: 1;
}

.inline-photo {
  border: 1em solid #fff;
border-bottom: 4em solid #fff;
border-radius: .25em;
box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
margin: 2em auto;
opacity: 1;
transform: translateY(1em) rotateZ(-5deg);

max-width: 400px;
width: 90%;

}

.portfolio-item-individual-image-map {
  box-shadow: var(--bs);

}


.portfolio-item-individual-image-map-grid {
  box-shadow: var(--bs);
  margin:0 auto;
  overflow: hidden;

}



@media (min-width: 1000px) {

.battleship_photo {

  transform: scale(100%) rotateZ(-5deg);
  margin-top: 20px;
}

.section__subtitle--intro-project {
  transform: translate(0%, -400%);
  margin-top: -220px;;
}

.underlinks {
  height: 2em;
}

.portfolio-item-individual {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual-description {
  padding: 0 2em 2em;
  min-width: 600px;
  grid-column: 3;

}

.portfolio-item-individual-image {
  grid-column:1;
  min-width: 400px;
  box-shadow: var(--bs)
}

.image_wide {
  min-width: 900px;
}

.uml_diagram {
  min-width:900px;
}



.portfolio-item-individual-image-graph {
  grid-column: 1/-1;
  min-width: 600px;
  box-shadow: var(--bs)
}

.portfolio-item-individual-image-map {

  box-shadow: var(--bs);
  overflow:hidden;
  transform:translate(10%,0);
  max-width: 800px;

}





}
